.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  padding: 0 20px;
  background-color: bisque;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
