.login {
  width: 100%;
  height: 100vh;
  display: flex;

  .left,
  .right {
    width: 50%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
  }

  .left {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;

      .title {
        font-size: 2.25rem;
        font-weight: 700;
      }

      .action {
        color: #9e9e9e;
        font-weight: 500;

        button {
          color: #6c63ff;
        }
      }

      .form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  .right {
    background-image: url("https://w-dog.ru/wallpapers/2/18/366588900464082/biblioteka-komnata-oboi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 700;
    justify-content: center;
    align-items: flex-start;

    .welcome {
      color: #ffff;
      font-size: 4rem;
      width: 100%;
    }
  }
}

// Laptop
@media (max-width: 1024px) {
  .login {
    .right {
      .welcome {
        font-size: 3rem;
      }
    }
  }
}

// Tablet
@media (max-width: 768px) {
  .login {
    .left {
      padding: 20px 30px;
      width: 100%;

      .content {
        width: 100%;
      }
    }
    .right {
      display: none;
    }
  }
}
